<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body id="page-top" class="loginBody" onload="lwindow()">
    <nav>
        <a class="brand" href="/">
            FABULA
        </a>
        <button class="buttonmenu" onclick="button_on_click()"><img class="imgmenu" src="/img/menu.png"></button>
        <div class="navbar-list">
            <div class="nav-item"><a class="nav-link" href="/">Logout</a></div>
        </div>
       
    </nav>
    <main id="main">
        <div  id ="left">
            <div id ="user_data">
                        <div id="row_user_name">
                            <div  id="user_name"><%= user.name  %> </div>
                            <div><button class="buttonedit" onclick="for_change_name()"><img class="imgedit" src="/img/edit.png"></button></div>
                        </div>
                        <div id="row_user_email">
                            <div  id="user_email"><%= user.email  %></div>
                            <div><button class="buttonedit" onclick="for_change_email()"><img class="imgedit" src="/img/edit.png"></button></div>
                        </div>
                        <div class="errors" >
                            <% if(typeof alert != 'undefined') { %>
                                       <h3> <%= alert %></h3>
                            <% } %>

                        </div>
            </div>
            <button class="add_proyect">
                <a class="in_boton" href="/user/<%= user._id %>/create_blog">Create blog</a>
            </button>
            <button class="add_proyect">
                <a class="in_boton" data-id="<%= user["_id"] %>">Delete account</a>
            </button>
        </div>
        <div id="centre">
            <div id="proyects">
                <% if (user.blogs.length) { %>
                    <% user.blogs.forEach(( blog ) => { %>
                        <div class="cell">
                            <div class="pr">
                           <div class = "proyect" style="color:black">
                               <a  class="project_name" href="/user/<%= user._id %>/blog/<%= blog["block_name"] %>"><%= blog["block_name"] %></a> 
                            </div>
                            <div class="setting_buttons">
                            <button class = "project_button" onclick ="view_setting(this)">Setting</button>
                            <% if (blog.publich == false) {%>
                                 <button class = "project_button" onclick ="publish('<%= blog.block_name  %>')">Publish</button>
                            <% }  %> 
                            <% if (blog.publich == true) {  %>
                                 <button class = "project_button" ><a class="a project_button a" href="/fabula/<%= blog["domen"]  %>">View</a></button> 
                            <% }  %> 
                            <button class = "project_button" onclick ="delete_project('<%= blog.block_name  %>')">Delete</button>
                        </div>
                        </div>
                        <div class="ts">
                            <form method="post" action="/user/<%= user._id %>/change_project_name/<%= blog["block_name"]  %>">
                          
                          <input id="input_for_change_project_name_<%= blog["_id"]  %>"  name = "inputed_name" type="text" placeholder="Your Name *" required />
                          <% if(typeof alert != 'undefined') { %>
                            <h3> <%= alert %></h3>
                 <% } %> 
                        <button class="project_button" type="submit">edit</button>
                         </form>
                        <button class="cerrar1" onclick="cerrar_setting(this)">X</button>
                        </div>
                    </div>

                    <% }) %>
                    <% } %>  
            </div>
        </div>
        

    </main> 
   
    <footer id = "Footer">
        Copyright &copy; Your Website 2022
    </footer>
    <script>
        document.addEventListener( 'click', (e) => {
  const id = e.target?.dataset?.id || null;
  if (id) {
    fetch(`/user/${id}`, {
      method: 'DELETE',
    }).then(() => {
        window.location.href = '/';
    });
  }
});
// token = localStorage.getItem('token')


    </script>
    <script src="/js/account.js"></script>
  
</body>

</html>