<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body id="page-top" class="loginBody" onload="lwindow()">
    <nav>
        <a class="brand" href="/">
            FABULA
        </a>
        <button class="buttonmenu" onclick="button_on_click()"><img class="imgmenu" src="/img/menu.png"></button>
    </nav>
    <main id="main">
        <div  id ="left">
            <div id ="user_data">
                        <div id="row_user_name">
                            <div  id="user_name"><%= user.name  %> </div>
                            <div><button class="buttonedit" onclick="for_change_name()"><img class="imgedit" src="/img/edit.png"></button></div>
                        </div>
                        <div id="row_user_email">
                            <div  id="user_email"><%= user.email  %></div>
                            <div><button class="buttonedit" onclick="for_change_email()"><img class="imgedit" src="/img/edit.png"></button></div>
                        </div>
            </div>
            <button class="add_proyect">
                <a class="in_boton" href="/user/<%= user._id %>/create_blog">Create blog</a>
            </button>
        </div>
        <div id="centre">
            <div id="proyects">
                <% if (user.blogs.length) { %>
                    <% user.blogs.forEach(( blog ) => { %>
                        <div class = "proyect" style="color:black">
                           <a href="/user/<%= user._id %>/blog/<%= blog["name"] %>"</a><%= blog["name"] %></a> 
                        </div>

                    <% }) %>
                    <% } %>  
                <!-- <div class = "proyect">
                </div>
                <div class = "proyect">
                </div>
                <div class = "proyect">
                </div>
                <div class = "proyect">
                </div>
                <div class = "proyect">
                </div>
                <div class = "proyect">
                </div> -->
            </div>
        </div>
        

    </main> 
   
    <footer id = "Footer">
        Copyright &copy; Your Website 2022
    </footer>
    <script src="/js/index.js"></script>
  
</body>

</html>