<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body id="page-top" class="loginBody" onload="lwindow()">
    <nav>
        <a class="brand" href="/">
            FABULA
        </a>
        <button class="buttonmenu" onclick="button_on_click()"><img class="imgmenu" src="/img/menu.png"></button>
        <div class="navbar-list">
            <div class="nav-item"><a class="nav-link" href="/">Logout</a></div>
        </div>
       
    </nav>
    <main id="main">
        <div  id ="left">
            <div id ="user_data">
                        <div id="row_user_name">
                            <div  id="user_name"><%= user.name  %> </div>
                            <div><button class="buttonedit" onclick="for_change_name()"><img class="imgedit" src="/img/edit.png"></button></div>
                        </div>
                        <div id="row_user_email">
                            <div  id="user_email"><%= user.email  %></div>
                            <div><button class="buttonedit" onclick="for_change_email()"><img class="imgedit" src="/img/edit.png"></button></div>
                        </div>
                        <div class="errors" >
                            <% if(typeof alert != 'undefined') { %>
                                       <h3> <%= alert %></h3>
                            <% } %>

                        </div>
            </div>
            <button class="add_proyect">
                <a class="in_boton" href="/user/<%= user._id %>/create_blog">Create blog</a>
            </button>
            <button class="add_proyect">
                <a class="in_boton" data-id="<%= user["_id"] %>">Delete account</a>
            </button>
        </div>
        <div id="centre">
            <div id="proyects">
                <% if (user.blogs.length) { %>
                    <% user.blogs.forEach(( blog ) => { %>
                        <div class = "proyect" style="color:black">
                           <a href="/user/<%= user._id %>/blog/<%= blog["block_name"] %>"</a><%= blog["block_name"] %></a> 
                        </div>

                    <% }) %>
                    <% } %>  
            </div>
        </div>
        

    </main> 
   
    <footer id = "Footer">
        Copyright &copy; Your Website 2022
    </footer>
    <script>
        document.addEventListener('click', (e) => {
  const id = e.target?.dataset?.id || null;
  if (id) {
    fetch(`/user/${id}`, {
      method: 'DELETE',
    }).then(() => {
        window.location.href = '/';
    });
  }
});
str = String('<%= access_token %>')
if (str/lengt< 10 ) {
    localStorage.setItem('access_token', '<%= access_token %>'); 
}


    </script>
    <script src="/js/account.js"></script>
  
</body>

</html>