<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body  id="page-top" class='loginBody' onload='load_blocks("<%= data %>")' >
    <nav>
        <a class="brand" href="/user/<%= user_id %>">
            FABULA
        </a>
    </nav>
    <main id="main1">

        
    <div  id ="left1">
        <div id="header_of_left">
            <div class="brand"></div>
            <button class="cerrar brand" onclick="cerrar()">X</button>

        </div>
        <button class="boton_type_of_section" onclick="view_types_of_block('header')">
            <div class="in_boton brand">HEADER</div>
        </button>
        <button class="boton_type_of_section" onclick="view_types_of_block('cover')">
            <div class="in_boton brand">COVER</div>
        </button>
        <button class="boton_type_of_section" onclick="view_types_of_block('about')">
            <div class="in_boton brand">ABOUT</div>
        </button>
        <button class="boton_type_of_section" >
            <a class="in_boton" href="/user/<%= user_id %>/blog/<%= blog_name %>/create_post">POST</a>
        </button>
        <button class="boton_type_of_section" onclick="view_types_of_block('footer')">
            <div class="in_boton brand">FOOTER</div>
        </button>
        <!-- <button class="add_proyect"> -->
        
    </div>
    <div id="types_of_block">
    </div>
    <div id="centre1">
        <div id="user_blog">
            <% if( sections != null){ %> 
            <% if (sections.length ) { %>
                <% sections.forEach(( section ) => { %>
            
                <div class="section blog_section" id='<%= section.id %>' style="background-color:#<%= section.backgorund_color %> ">
                    <div class="change_style"  id='<%= section._id %>'>
                        <div id="header_of_left_change">
                            <div class="brand"></div>
                            <button class="cerrar brand" onclick="cerrar_change_change_style('<%= section._id %>')">X</button>
                
                        </div>
                        <div class="change_block">
                        <h3 class="background_or_text">Background</h3>
                        <div class="change_style_caja2">
                            color 
                            <div class="change_style_caja3">
                                <div class="change_style_caja2">
                                    #: (<input class="for_input_color h16 color_background " id='<%= section._id %>'></input>)
                                </div>    
                                <div id='<%= section._id %>' class="errors invalid_value_back" ></div>
                                    <select id='<%= section._id %>'  class='herramineta in_change_style select_color_back' name='color'>\
                                        <option value = "choose_color">choose color</option>
                                        <option value="FFFF00">yellow</option>\
                                        <option value="00FF00">green</option>\
                                        <option value="0000FF">blue</option>\
                                        <option value="ffffff">white</option>\
                                        <option value="000000">black</option>\
                                        <option value="828282">gris</option>\
                                        <option value="ffc0cb">pink</option>\
                                        <option value="FF0000">red</option>\
                                        <option value="964B00">brown</option>\
                                        <option value="BF40BF">purple</option>\
                                    </select>
                               
                
                            </div>
                        </div>
                        <div id='<%= section._id %>' class="errors no_back_color" ></div>
                        <button  class="button_change" onclick ="change_background_color('<%= section._id %>')">Change background color</button>
                    </div>
                        <hr style=" height: 2px; width: 100%; background-color: #000000;">
                        <div class="change_block">
                        <h3 class="background_or_text">Text</h3>
                        <div class="change_style_caja2">
                            
                            color
                            <div class="change_style_caja3">
                                <div class="change_style_caja2">
                                #(<input id='<%= section._id %>' class="for_input_color h16 text_color"></input>)</div>
                                <div id='<%= section._id %>' class="errors invalue_text_color" ></div>
                                    <select id='<%= section._id %>' class='herramineta in_change_style select_text_color' name='color'>\
                                        <option value = "choose_color">choose color</option>
                                        <option value="FFFF00">yellow</option>\
                                        <option value="00FF00">green</option>\
                                        <option value="0000FF">blue</option>\
                                        <option value="ffffff">white</option>\
                                        <option value="000000">black</option>\
                                        <option value="828282">gris</option>\
                                        <option value="ffc0cb">pink</option>\
                                        <option value="FF0000">red</option>\
                                        <option value="964B00">brown</option>\
                                        <option value="BF40BF">purple</option>\
                                    </select>
                                </div>
                            
                            </div>
                            <div id='<%= section._id %>' class="errors no_text_color" ></div>
                            <button class="button_change" onclick="change_text_color('<%= section._id %>')">Change text color</button>
                        </div>
                            <hr style=" height: 0.3px; width: 100%; background-color: #000000;">
                            <!-- <div class="change_block">
                        <br>
                                <div class="change_style_caja2">
                                    Size: 
                                    <select class='herramineta in_change_style' name='Size'>
                                        <option disabled>Size</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>4</option>
                                        <option>6</option>
                                        <option>8</option>
                                        <option>10</option>
                                        <option>12</option>
                                        <option>16</option>
                                        <option>18</option>
                                        <option>20</option>
                                        <option>22</option>
                                        <option>24</option>
                                        <option>26</option>
                                        <option>28</option>
                                        <option>30</option>
                                    </select>
                                    <button  class="button_change">Change text size</button>
                                   
                                    </div>
                                </div>
                                    <hr style=" height: 0.3px; width: 100%; background-color: #000000;"> -->
                                    <div class="change_block">
                                    <div class="change_style_caja2">
                                    Font: 
                                    <select  id='<%= section._id %>' class='herramineta in_change_style text_font' name='Font'>
                                        <option value ="choose_font">Choose Font</option>
                                        <option value ="Arial">Arial</option>
                                        <option value ="Verdana">Verdana</option>
                                        <option value ="Tahoma">Tahoma</option>
                                        <option value ="Trebuchet MS">Trebuchet MS</option>
                                        <option value ="Times New Roman">Times New Roman</option>
                                        <option value ="Georgia">Georgia</option>
                                        <option value ="Garamond">Garamond</option>
                                        <option value ="Courier New">Courier New</option>
                                        <option value ="Brush Script MT">Brush Script MT</option>
                                    </select>
                                    <div id='<%= section._id %>' class="errors no_choose_font" ></div>
                                    <button  class="button_change" onclick="choose_font('<%= section._id %>')">Change text font</button>
                                </div>
                
                            
                        </div>
                        <% console.log(section.name_of_section) %>
                        <% if ( section.name_of_section == 'A4' || section.name_of_section == 'A3' || section.name_of_section == 'A5'|| section.name_of_section == 'A6'||section.name_of_section == 'A7'||section.name_of_section == 'A8'||section.name_of_section == 'A9'|| section.name_of_section == 'A10'|| section.name_of_section == 'N4' || section.name_of_section == 'N5' || section.name_of_section == 'N9' || section.name_of_section == 'N11' || section.name_of_section == 'N12' || section.name_of_section == 'N13') {%> 
                            <hr style=" height: 2px; width: 100%; background-color: #000000;">
                                                <div class="change_block">
                                                    
                            <form action="/user/<%= section.id_user %>/blog/<%= section.name_of_blog %> /upload/<%= section._id %> " method="POST" enctype="multipart/form-data">
                             <div>
                                 <label for="image">Upload Image</label>
                                 <input type="file" id="image"
                                        name="image" value="" required>
                             </div>
                             <div>
                                 <button type="submit">Submit</button>
                             </div>
                             </form>
                             </div>
                        
                         <% } %> 
                         <% if ( section.name_of_section == 'A7' || section.name_of_section == 'A8' || section.name_of_section == 'A10') {%> 
                            <hr style=" height: 2px; width: 100%; background-color: #000000;">
                                                <div class="change_block">
                             <form action="/user/<%= section.id_user %>/blog/<%= section.name_of_blog %> /upload2/<%= section._id %> " method="POST" enctype="multipart/form-data">
                              <div>
                                  <label for="image">Upload Image</label>
                                  <input type="file" id="image"
                                         name="image" value="" required>
                              </div>
                              <div>
                                  <button type="submit">Submit</button>
                              </div>
                              </form>
                              </div>
                        
                          <% } %>
                         <% if ( section.name_of_section == 'A7' || section.name_of_section == 'A8' || section.name_of_section == 'A10') {%> 
                            <hr style=" height: 2px; width: 100%; background-color: #000000;">
                            <div class="change_block">
                             <form action="/user/<%= section.id_user %>/blog/<%= section.name_of_blog %> /upload3/<%= section._id %> " method="POST" enctype="multipart/form-data">
                              <div>
                                  <label for="image">Upload Image</label>
                                  <input type="file" id="image"
                                         name="image" value="" required>
                              </div>
                              <div>
                                  <button type="submit">Submit</button>
                              </div>
                              </form>
                              </div>
                        
                          <% } %> 
                          
                          <% if (  section.name_of_section == 'A10') {%> 
                            <hr style=" height: 2px; width: 100%; background-color: #000000;">
                            <div class="change_block">
                             <form action="/user/<%= section.id_user %>/blog/<%= section.name_of_blog %> /upload4/<%= section._id %> " method="POST" enctype="multipart/form-data">
                              <div>
                                  <label for="image">Upload Image</label>
                                  <input type="file" id="image"
                                         name="image" value="" required>
                              </div>
                              <div>
                                  <button type="submit">Submit</button>
                              </div>
                              </form>
                              </div>
                        
                          <% } %> 
                        
                </div>

        
                    <div class="setting" id='s<%= section.id %>'  style = "display:<%= section.hide %>">
                        <div class ="right">
                            <button class="section_setting" onclick='show_setting("<%= section._id %>")'><img class="img_setting" src="/img/edit.png"></button>
                            <button class="section_setting" onclick='act("delete", "<%= section._id %>" , this)' id="delete<%= section.id %>"><img class="img_setting"  src="/img/delete.png"></button>
                            <button class="section_setting" onclick='act("hide","<%= section._id %>")' id="hide<%= section.id %>"><img class="img_setting"  src="/img/on.png"></button>
                            <button class="section_setting" onclick='act("up","<%= section.id %>")'>▲</button>
                            <button class="section_setting" onclick='act("down","<%= section.id %>")'>▼</button>
                            
                        </div>
                    </div>
                    
                    <div class='hiden'  style='display:<%= section.demo %>'>
                        <div class ='right'>
                            <button  onclick='act("demo","<%= section._id %>")' class='section_setting'id="demo<%= section.id %>" style='background-color:#fff; '><img class='img_setting' style='background-color:#fff; ' src='/img/on.png'></button>
                        </div>
                        <h1>HIDDEN</h1>
                    </div>
                    
                    <div    class="for_load "   id='<%= section._id%>'  style = "display:<%= section.hide %> ; background-color:#<%= section.backgorund_color %> ; color:#<%= section.text_color %>; font-family:<%= section.text_font %>">
                         <button onclick='lol("<%= section.id %>")'>PUT</button>
                    </div>
                </div>
            <!-- </div> -->
                <%  }) %>
                    
                <%}%>
                <% } %> 
        </div>
        
            
                <button class="add_section" onclick="view_types_of_section()">
                    ADD
                </button>

    </div>
 
    
    
</main>
<script type="text/javascript" src="/js/block_code.js"></script>
<script src="/js/index.js"></script>

</body>


</html>